.profile {
  border: 1px solid #707070;
  border-radius: 16px;
  width: 300px;
  height: 300px;


  .edit-btn{
    color: #EE5D6C;
    border: 3px solid #F28077;
    border-radius: 16px;
    width: 200px;
    height: 40px;
    background-color: #E0D1D6;
  }
}
.order-list {
  border: 1px solid #707070;
  border-radius: 16px;
  width: 650px;
  height: 500px;


  .order {
    border: 1px solid #707070;
    border-radius: 8px;
    width: 600px;
    height: 60px;
    padding: 20px;
    align-items: center;
  }

}

