.container {
  background: url("/images/store-banner.png");
  box-shadow: 2px 4px 60px rgba(45, 45, 45, 0.1);
  background-repeat: no-repeat;
  background-position: -58px -56px;
  border-radius: 8px;
  max-height: 12.8rem;
  height: 100%;
  flex-direction: column;
  padding: 2.2rem 4.3rem 1.9rem 0;
  margin-bottom: 1.6rem;
  span[id="address"] {
    color: #F28077;
    font-size: 12px;
    margin-right: 7px;
  }
  span[id="open-hours"] {
    color: #A989AE;
       font-size: 12px;
       margin-right: 7px;
  }
  svg[id="location"] {
    transform: translateY(-2px);
    width: 16px;
  }
  svg[id="location"] path{
    fill: #F28077;
  }
  span[class="anticon anticon-clock-circle"]{
    svg{
      color: #A989AE;
      transform: translateY(2px);
      font-size: 1.5rem;

    }
  }
  .select{
    transform: translateY(-7px);
    direction: ltr;
    margin-right: 25px;
  }
    :global{
      .ant-select:not(.ant-select-customize-input) .ant-select-selector{
        background-color: #E0D1D6 !important;
        border: unset;
        border-radius: 50px;
      }
      .ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder{
        padding-right: unset;
        padding-left: 10px;
      }
      .ant-select-selection-placeholder{
        color: #444444;
        padding-right: unset !important;
        font-size: 12px;
        margin-left: 10px;
      }
      .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
        height: unset;
      }
      .ant-select-arrow{
        color: #444444;
        right: unset;
        transform: translateY(-2px);
      }
      .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
        padding: 0 10px 0 30px;
      }
    }
  @media (max-width: 1024px) {
    margin: 0 1.6rem 1.6rem;
  }
  @media (max-width: 1024px) {
    background: url("/images/store-banner.png"),
      linear-gradient(0deg, #ef5652, #ef5652), url("/images/store-banner.png"),
      #eddacc;
    background-repeat: no-repeat;
    max-height: 11.5rem;
    height: 100%;
    min-width: 32.8rem;
    max-width: unset;
    width: unset;
    //padding: 1.7rem 1.3rem;
    span[id="address"] {
      display: none;
    }
    padding: 1.7rem 1.3rem 1.7rem 0;
    h2 {
      font-size: 1.6rem !important;

      line-height: 2.5rem !important;
    }
  }
  h5 {
    color: #E0D1D6;
    margin-bottom: 0.8rem !important;
    font-size: 2.4rem;
    line-height: 50px;
  }
}
