.container-header {
  box-shadow: 0 3px 6px #00000029;
  background-color: #E0D1D6;
  height: 57px;
  align-items: center;
  margin: 0 auto 2rem;
  border-radius: 8px;
  .return {
    padding-right: 30px;
    svg{
      display: unset;
      cursor: pointer;
      margin-left: 3px;
    }
    svg>path{
      fill: #7E7E7E;
    }
    :global{
      .ant-typography{
        cursor: pointer;
        color: #7E7E7E;
      }
    }
  }
  .title {
    text-align: center;
    h5{
      margin-bottom: 0;
    }
    :global{
      .ant-typography{
        color: #7E7E7E;
      }
    }
  }
}

.back {
  position: absolute;
  right: 0.5rem;

  &:focus {
    background-color: transparent;
  }

  svg {
    margin-left: 0.8rem;
  }

  a {
    display: flex;
    align-items: center;
  }
}

.your-cart {
  color: #5e5e5e;
  font-weight: 500;
}

.list {
  padding: 1.8rem 1.6rem;
  box-shadow: 0 3px 6px #00000029;
  background-color: #E0D1D6;
  align-items: center;
  margin: 0 auto 4.8rem;
  border-radius: 8px;
  min-height: 36.3rem;
  width: 50%;
}

.item {
  margin-bottom: 1.6rem;
  :global {
    .ant-table{
      border-radius: 10px;
      background: #FAF4EA;
      border: 1px solid #A989AE;
      overflow: hidden;
    }
    .ant-table-cell:before {
      display: none;
    }
    .ant-table-thead > tr {
      th:first-child {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 8px !important;
      }
      th:last-child {
        border-top-left-radius: 8px !important;
        border-top-right-radius: 0 !important;
      }

      th {
        background: rgba(169, 137, 174, 0.65) 0 0 no-repeat padding-box;
        color: #7E7E7E;
        font-size: 1.3rem;
        font-weight: 500;
      }
    }
  }
}

.remove {
  cursor: pointer;
  background-color: rgba(160, 160, 160, 0.3);
  border-radius: 50%;
  display: inline-flex;
  width: 2.2rem;
  justify-content: center;
  align-items: center;
  height: 2.2rem;

  svg {
    font-size: 1.1rem;
  color: rgba(126, 126, 126, 1)
  }
}

.add-items {
  background: transparent;
  height: 4.3rem;
  border: 2px solid rgba(238, 93, 108, 1);
  color: rgba(238, 93, 108, 1);
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1.2px 2.6rem !important;

  &:hover {
    color: rgba(238, 93, 108, 1);
    border: 1px solid rgba(238, 93, 108, 1);
    background: transparent;
  }

  svg {
    margin-left: 0.4rem;
    font-size: 15px;
    transform: translateY(-2px);
  }
}

.counter {
  display:flex;
  justify-content: center;
  align-items: center;
  :global {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
      direction: ltr;
      border-radius: 10px;
      width: 80px;
      border: 1px solid rgba(112, 112, 112, 0.5);
      margin: 0 auto;
    }
    .ant-select-arrow{
      right: 34px;
    }
  }
}

.steps {
  justify-content: space-between;
  padding: 0 14.6rem 0 16.3rem;
  margin-bottom: 3.6rem;

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-icon {
      background: rgba(255, 255, 255, 1) 0 0 no-repeat padding-box;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
      opacity: 1;

      border-radius: 50px;
      width: 6rem;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-bottom: 2rem;

      svg {
       font-size: 3.8rem;
        color: #EE5D6C;
      }
    }

    &-number {
      background-color: #7E7E7E;
      position: absolute;
      border-radius: 50%;
      width: 1.6rem;
      height: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      right: 0;

      span {
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        transform: translate(0, 0.1rem);
      }
    }

    &-title {
      color: rgba(126, 126, 126, 1);
      font-weight: 500;
      font-size: 1.6rem
    }

    &-subtitle {
      color: rgba(126, 126, 126, 1);
      font-size: 1.3rem
    }
  }
}

.validate-modal {
  width: 360px !important;

  :global {

    .ant-modal-close {
      position: absolute;
      right: unset;
      left: 0;
    }

    .ant-modal-footer {
      padding: 0 1.6rem 2.1rem;
      border: none;
    }

    .ant-modal-content {

      position: relative;
      border-radius: 8px 8px 0 0;
      box-shadow: 0 4px 4px rgba(188, 188, 188, 0.4);
    }

    .ant-modal-body {
      padding: 0;
    }
  }

  &-header {
    height: 4.5rem;
    border-radius: 8px 8px 0 0;
    background: #F9F9F9;
  }

  &-content {
    padding: 1.5rem 1.6rem 0.8rem;
  }

  &-ok {
    font-weight: 500;
    padding: 1.3rem 1.5rem;
    width: 10.4rem;
    height: 4.6rem;
    border-radius: 0.8rem;
  }

  &-title {
    font-weight: 600;
    font-size: 1.3rem !important;
    margin-bottom: 0.8rem;
  }

  &-subtitle {
    font-size: 1.2rem !important;
    line-height: 3.2rem !important;
    font-weight: normal !important;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
  .validate-modal {
    display: none;
  }
}


