.form{
  .submit-btn {
    border: 2px solid red !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: transparent !important;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    font-weight: 500;
    box-shadow: 0 3px 6px #00000029;
    border-color: transparent;
    width: 100%;
    svg{
      font-size: 18px;
      margin-left: 7px;
    }
  }
}