.container {
    padding: 20px;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: fit-content;
    margin: 0 auto;
    flex-wrap: nowrap;
    background-image: url("/images/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    :global{
      .ant-tabs-tab:hover{
        color: black;
      }
      .ant-tabs{
        max-width: 400px;
        width: 100%;
      }
      .ant-tabs-content-holder{
        background-color: rgba(250, 244, 234, 0.76);
        border-radius: 36px;

      }
      .ant-tabs > .ant-tabs-nav{
        margin: 0;
      }
      .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list{
        width: 100%;
      }
      .ant-tabs-ink-bar{
        background: unset;
      }



      .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
        border-bottom: unset;
      }
      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
        color: black;
      }
    }
  }
  