.total {
  background: rgba(224, 209, 214, 1) 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  margin-right: auto;
  width: 23%;
  height: fit-content;
  padding: 1.6rem 2rem 2.8rem;
  span{
color: rgba(126, 126, 126, 1);
  }
  h5{
color: rgba(126, 126, 126, 1);
  }
  .divider {
    margin: 1.6rem 0 !important;
  }

  :global {
    .ant-divider {
      border-color: #C4C4C4;
    }
  }

  .price-txt {
    span {
      font-weight: 500;
      font-size: 12px;
      margin-top: 1rem !important;

    }
  }

  .price {
    margin-right: auto;

    span {
      font-size: 12px;
    }
  }

  .sum-cart-txt {
    margin-bottom: 3.2rem;
    font-weight: 500;
  }

  .sum-cart {
    margin-right: auto;
    color: green;
    font-weight: 500;
  }

  .proceed {
    width: 100%;
    justify-content: center;
    background: rgba(238, 93, 108, 1) 0 0 no-repeat padding-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    display: flex;
    align-items: center;
    span{
      color: rgba(250, 244, 234, 1) !important;
    }
    border: none;
    padding: 2.2rem 5rem;
  }
}
