.container {
  height: 100%;
  width: 100%;
  max-width: 81.1rem;
  text-align: center;
  direction: rtl;
  padding: 0 20px;

  > div {
    background-color: rgb(242,128,119,0.3);
    max-width: 63.7rem;
    padding: 2rem 3rem;
    border-radius: 8px;
    width: 100%;
    margin: 29.5rem auto 2.8rem;
    @media (max-width: 1024px) {
      margin: 8rem auto 3.2rem;
    }
    span {
      color: #EE5D6C;
      font-weight: 600;
    }
  }
  @media (max-width: 1024px) {
    padding: 1.6rem 1.6rem 0;
    span {
      font-weight: 500;
      font-size: 14px !important;
      line-height: 30px;
      margin: 0 0.8rem;
    }
    > div {
      padding: 0.9rem 2rem;
    }
  }
}
