.container {
  margin: 4.8rem 0 0 !important;
  width: 100%;
  text-align: center;
  color: #7E7E7E;
  opacity: 0.9;
  font-size: 1.3rem;
  font-weight: 500;

  div[class="ant-col"] {
    display: flex;
    justify-content: center;
    @media (max-width: 1230px) {
      flex-shrink: 1 !important;
      padding: 0 0.5rem;
    }


    &:nth-child(2) {
      justify-content: start;
      text-align: start;
    }

    &:nth-child(11) {
      justify-content: start;
    }
  }

  :global {
    .ant-form-item {
      margin: 0;
    }
  }
}
