.container{
  span{
    font-weight: 500;
    color: #707070;
  }
  .discount{
    background: #FA031D;
    color: white;
    padding: 5px 7px 2px;
    box-shadow: 0 7px 15px #00000029;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
  }
    :global{
      .ant-row-space-between{
        margin-bottom: 10px;
      }
      .ant-typography + h4.ant-typography {
        margin-top: unset;
      }
      .ant-modal-footer{
        display: none;
      }
      .ant-modal-body{
        padding: 50px 24px 30px;
      }
      .ant-modal-content{
        border-radius: 16px;
      }
      .ant-input[disabled]{
        background-color: white;
      }
      .ant-input{
        border: 1px dashed #707070;
        border-radius: 10px;
        padding: 8px 14px;
      }
  }
}