.container {
  flex-flow: row nowrap !important;
  background: white;
  //box-shadow: 0px 0px 30px rgba(56, 71, 109, 0.09);
  border-radius: 8px;
  height: 5.6rem;
  margin: 1.2rem 0 0;
  padding: 0 2rem;
  width: 100%;
  div[id="sold"] {
    position: absolute;
    width: max-content;
    top: 2.5rem;
    font-weight: normal;
    font-size: 1.3rem;
    transform: translateX(55px);
    color: #EE5D6C;
    align-items: center;
  }
  span[id="oldPrice"] {
    font-weight: 500 !important;
  }
  span[id="price"] {
    font-weight: 500 !important;
  }
  .date-picker {
    svg {
      font-size: 3rem;
      margin: 0 0.5rem 0 0.7rem;
    }

    div[class="ant-form-item-control-input-content"] {
      border: 1px solid #7E7E7E;
      border-radius: 0 8px 8px 0;
      border-left: none;
    }

    input {
      width: 6.5rem;
    }

    :global {
      .tether-element {
        transform: unset !important;
      }

      .ant-form-item-control-input-content {
        display: flex;
        align-items: center;
        text-align: center;
      }
    }
  }
  span {
    font-weight: normal;
    color: #7E7E7E;
  }
  .delete-btn{
    border-color: transparent;
    box-shadow: unset !important;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    svg {
      width: 45px;
    }

    svg path {
      fill: #7E7E7E;
    }
  }
  .edit-btn {
    width: 57px !important;
    height: 30px !important;
    border-color: #E2E2E2;
    background: #E2E2E2;
    border-radius: 4px;
    box-shadow: unset !important;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;

    svg {
      width: 20px;
    }

    svg path {
      fill: #7E7E7E;
    }
  }
  .btn-container {
    flex-wrap: nowrap;

    button[id="submit"] {
      width: 5.7rem;
      height: 3rem;
      background: #E2FFE5;
      border-radius: 4px;
      border: none;
      margin-left: 1.2rem;

      span {
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 2.8rem;
        color: #7E7E7E;
      }
    }

    button[id="cancel"] {
      background: #F7F7F7;
      width: 5.7rem;
      height: 3rem;
      border-radius: 4px;
      border: none;

      span {
        font-weight: normal;
        font-size: 1.1rem;
        line-height: 2.8rem;
        color: #7E7E7E;
      }
    }
  }
  :global {
    .ant-btn-icon-only{
      width: unset;
      height: unset;
    }
    .ant-checkbox-disabled .ant-checkbox-inner {
      background-color: white;
      border-color: #7E7E7E !important;
      border-radius: 4px;
    }

    .ant-input {
      width: 9rem;
      height: 3.2rem;
      border: 1px solid #7E7E7E;
      border-radius: 8px;
      color: #7E7E7E;
      font-size: 1.3rem;
      text-align: center;
    }

    .ant-picker-input > input {
      font-size: 1.3rem;
      font-weight: normal !important;
      direction: rtl;
      //padding-right: .8rem;
      color: #7E7E7E;
    }

    .ant-picker {
      border-radius: 8px 0 0 8px;
      direction: initial;
      height: 5rem !important;
      border: 1px solid #7E7E7E !important;
    }


    ::placeholder {
      color: #7E7E7E;
    }

    .ant-col {
      display: flex;
      justify-content: center;

      &:nth-child(11) {
        justify-content: start;
      }

      &:nth-child(2) {
        justify-content: start;
        overflow: hidden !important;

        div {
          text-overflow: ellipsis !important;
          white-space: nowrap !important;
          overflow: hidden !important;
        }
      }
    }

    .ant-form-item {
      margin-bottom: unset !important;
    }

    .ant-form-item-control {
      justify-content: center;
    }

    .ant-btn:hover, .ant-btn:focus {
      color: unset !important;
      border-color: transparent !important;
    }
  }

}

.drawers {
  z-index: 1;

  .btn-container {
    height: 7.2rem;
    background: white;
    box-shadow: 0px -4px 8px -4px rgba(0, 0, 0, 0.15);
    padding: 1.1rem 3.5rem 1.3rem;
    justify-content: space-between;

    button {
      width: 13.9rem;
      height: 4.8rem;
      border-radius: 8px;
      color: white;
    }

    button[id="submit"] {
      background-color: #0086B3;
      border-color: #0086B3;
    }

    button[id="cancel"] {
      background-color: #7E7E7E;
      border-color: #7E7E7E;
    }
  }

  .sub-title {
    svg {
      margin-left: 0.4rem;
      font-size: 1rem;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #7E7E7E !important;
      opacity: 0.9;
      font-size: 1.1rem !important;

      &:first-of-type {
        margin-left: 1.6rem;
      }
    }
  }

  .close {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(6px);

    svg {
      font-size: 1.1rem;
    }
  }

  :global {
    .ant-btn:hover, .ant-btn:focus {
      color: white !important;
      border-color: unset;
    }

    .ant-btn {
      font-weight: 500;
    }

    .ant-drawer-footer {
      padding: 0 !important;
      border-top: unset !important;
    }

    .ant-drawer-header-title {
      justify-content: flex-end;
    }

    .ant-drawer-content-wrapper {
      width: 37.5rem !important;
    }

    .ant-drawer-header {
      padding: 10.3rem 3.7rem 2.4rem 2.1rem;
      border-bottom: unset !important;

      span {
        font-size: 1.3rem;
        color: #7E7E7E;
      }
    }

    .ant-drawer-body {
      padding: 0 2rem 0 3rem;
    }

    .ant-drawer-close {
      order: 2;
      align-self: flex-start;
    }
  }
}

.modal {
  :global {
    .ant-modal-close-x {
      display: none;
    }

    .ant-modal-footer {
      direction: ltr;
    }
  }
}
