//buttons

.ant-btn-red {
  background-color: #ea1d25 !important;
  border: none !important;
  color: white !important;
  font-size: 1.4rem !important;
  font-weight: 600 !important;
}

.ant-btn-grey {
  color: #939597 !important;
}

// Typography
//red
.ant-typography-red {
  color: #ea1d25 !important;
  font-size: 1.4rem !important;
  font-weight: 600 !important;
}

.ant-typography-dark-red {
  color: #B31E23 !important;
}

.ant-typography-green-w5 {
  color: #077e28 !important;
  font-weight: 500 !important;

}

.ant-typography-ocean-blue2 {
  color: #1b76a9 !important;
}

.ant-typography-ocean-blue {
  color: #1b76a9 !important;
}

.ant-typography-green {
  color: #077e28 !important;

}

//grey
.ant-typography-medium-grey {
  color: #939597 !important;
}


.ant-typography-light-grey {
  color: #5f5f5f !important;
}

.ant-typography-grey8 {
  color: #5f5f5f !important;
}
.ant-typography-grey1 {
  color: #5f5f5f !important;
}
.ant-typography-grey2 {
  color: #5f5f5f !important;
}

//yellow

.ant-typography-yellow {
  color: #FFA800 !important;
}

//white
.ant-typography-white {
  color: white !important;
}


//weight
.ant-typography-lg {
  font-weight: 112;
}

.ant-typography-w4 {
  font-weight: 400 !important;
}

.ant-typography-w5 {
  font-weight: 500 !important;
}

.ant-typography-w6 {
  font-weight: 600 !important;
}

.ant-typography-w7 {
  font-weight: 700 !important;
}

.ant-typography-bold {
  font-weight: bold;
}




