$design-width: 1366px;
$design-width-landing-xl: 1140px;
$design-width-landing-lg: 960px;
$design-width-landing-md: 720px;
$design-width-landing: 100%;
$design-height: 1080px;
$login-max-width: 81.1rem;
