.container {
  cursor: pointer;
  min-height: 24.5rem;
  border-radius: 8px;
  padding: 5.7rem 1.5rem 1.8rem;
  margin: 0 1.6rem 1.6rem;
  // background: url("/images/bars-mobile.svg") no-repeat, $white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;

  @media (min-width: 1024px) {
    margin: unset;
  }
  @media (max-width: 1024px) {
    min-width: 32.6rem;
    padding: 0.8rem;
    margin: 0 1.6rem 1.2rem;

    min-height: 15rem;
    background: white;
  }

  .name {
    z-index: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
:global{
  .anticon svg{
    color: rgb(255, 206, 0);
    transform: translate(2px, -2px);
  }
}
    h5 {
      font-size: 1.3rem;
      transform: translateY(7px);
      //margin-right: 0.7rem;
      @media (max-width: 1024px) {
        margin-right: unset;
        margin-bottom: 0.8rem;
      }
    }

    > div {
      display: flex;
      width: 4.4rem;
      height: 4.4rem;
      background-color: #7E7E7E;
      border-radius: 50%;
      font-size: 3rem;

      > svg {
        margin: auto;
      }
    }
  }

  > span {
    display: block;
    line-height: 28px;
    margin-top: 2px;
    margin-right: unset;
  }

  .details {
    color: #7E7E7E;
  }


  .phone {
    align-items: center;
    margin-right: 0.9rem;
    :global{
      .anticon svg{
        transform: translate(5px, -2px);
      }
      .ant-btn{
        font-weight: 500;
        font-size: 13px;
        border: unset;
        padding: 1rem 3rem;
        border-radius: 4.5rem;
        box-shadow: rgb(58 61 66 / 6%) 0 1px 0, rgb(0 0 0 / 5%) 0 2px 8px -2px;
      }
    }
  }

  .background {
    filter: blur(1px);
    position: absolute;
    top: 0;
    width: 100%;

    :global {
      .ant-image {
        width: 100%;
      }
    }

    img {
      border-radius: 8px 8px 0 0;
      object-fit: cover;
      height: 82px;
    }
  }

  .logo {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;

    & > div {
      width: 100%;
    }

    img {
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  :global {
    .ant-typography + h5.ant-typography{
      margin-top: unset;
      color: #7E7E7E;
    }

    .ant-divider-horizontal {
      min-width: 22.4rem !important;
    }
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    top: 10px !important;
  }
}
